<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
		<!--<add key="WebUrl" value="http://47.93.198.167:8041"/>-->
		<!--<add key="WebUrl" value="http://192.168.240.76:7003"/>-->
			<!--<add key="WebUrl" value="http://api50.maidiyun.com"/>-->
	<add key="WebUrl" value="http://192.168.1.51:8152"/>


		<!--步阳相关-->
		<add key="ProdJob" value="false"/>
		<add key="ProdRule" value="/10 * * ? * *"/>
		<add key="MdcodeJob" value="false"/>
		<add key="MdcodeRule" value="/10 * * ? * *"/>
		<add key="MdcodeCeiling" value="50000"/>
		<add key="MdcodeOnce" value="500"/>
		<add key="WorkPlace" value="C"/>

		<!--金蝶K3相关-->
		<add key="ERPUrl" value="http://192.168.240.76:7003"/>
		<add key="OrderJob" value="true"/>
		<add key="OrderRule" value="/10 * * ? * *"/>
		<!--获取Erp人员-->
		<add key="GetEmployeeFromK3" value="false"/>
		<!--从Erp获取物料-->
		<add key="GetMateriaFromK3" value="false"/>
		<!--从Erp获取供应商-->
		<add key="GetSupplierFromK3" value="false"/>
		<!--从Erp获取订单-->
		<add key="GetPopFromK3" value="true1"/>

		<!--从Erp获取采购单-->
		<add key="GetStockOrderFromK3" value="false"/>
		<!--供应商列表同步获取企业ID-->
		<add key="GetCompID" value="false"/>
		<!--同步订单信息至迈迪-->
		<add key="SynPopList" value="true1"/>
		<!--从迈迪获取已打码数据-->
		<add key="GetCodeData" value="true1"/>
		<!--上传打码数据至Erp-->
		<add key="UpLoadMdCode" value="false"/>
		<!--上传内部打码数据至Erp-->
		<add key="UploadInnerCodeToErp" value="false"/>
		<!--批量上传景津已入网供应商至迈迪   当数据库与迈迪数据不一致时  强行同步所有已入网供应商-->
		<add key="SycSupplyToMd" value="true1"/>
		<!--更新订单信息 修改订单表为最新信息，数据变化的订单发送订单改变通知-->
		<add key="UpdatePopList" value="false"/>
        <!--获取出库给迈迪的数据-->
		<add key="GetStockToJJ" value="false"/>
		
		
	

		<!--邮件相关-->
		<add key="smtpServer" value="smtp.qq.com"/>
		<add key="mailCount" value="2360107771@qq.com"/>
		<add key="mailPassword" value="wrsebsfnoggweaeb"/>
		<add key="mailTo" value="wmmygf@163.com,260788050@qq.com"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServerConnString" connectionString="server=ZQ-MDHOME;database=K3MD;uid=sa;pwd=123456" />
		<!--<add name="SqlServerConnString" connectionString="server=192.168.5.54;database=K3MD;uid=sa;pwd=123456" /> -->
		<!-- <add name="SqlServerConnString" connectionString="server=ZQ-MDHOME;database=K3MD;uid=sa;pwd=123456" /> -->
		<!--<add name="SqlServerConnString" connectionString="server=211.140.140.158,21433;database=AIS20190414mycs;uid=by;pwd=buyang5150@rjb"/>-->
		<!--<add name="SqlServerConnString" connectionString="192.168.100.83;database=AIS20150228byzs;uid=by;pwd=buyang5150@rjb"/>-->
		<!--<add name="SqlServerConnString" connectionString="server=211.140.140.158,21433;database=AIS20150228byzs;uid=by;pwd=buyang5150@rjb"/>-->
		<!--<add name="SqlServerConnString" connectionString="server=ZQ-MDHOME\SQLEXPRESS,1433;database=TDYWms;uid=sa;pwd=123456"/>-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

</configuration>